<header>
    <h1>TP02 Romano Miklaski</h1>
</header>
<main>
<p>@ViewBag.Sugeridor.generarSaludo()</p>
<h2>Datos ingresados</h2>
<p>Nombre del cocinero: @ViewBag.Sugeridor.NombreCocinero</p>
<p>Edad: @ViewBag.Sugeridor.calcularEdad()</p>
<p>Plato recomendado: @ViewBag.Sugeridor.determinarPlato()</p>
<p>Tiempo estimado de preparación: @ViewBag.Sugeridor.determinarTiempo() minutos</p>
<p>Cantidad de personas: @ViewBag.Sugeridor.cantComensales</p>
<p>Dificultad de la receta: @ViewBag.Sugeridor.determinarDificultar()</p>
<p> @ViewBag.Sugeridor.generarTip()</p>
</main>

